* {
    background-color: #b8f9ff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color: #c800ff;
    color: white;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}

.products {
    max-width: 1200Px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.product {
    background-color: whitesmoke;
    border: 1px solid #a6a5a5;
    border-radius: 10px;
    padding: 15px;
}

img {
    width: 100%;
    height: 150px;
}

p {
    background-color: whitesmoke;
}

.p1,.p2, .p3 {
    color: #4a4a4a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}