* {
    background-color: aqua;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color: #000;
    color: gray;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}